<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{ifset title}{include title|stripHtml} | {/ifset}Rod Panel</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/main.css">
</head>

<body class="page-body">
    <nav n:if="$user->loggedIn" role="navigation">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo"><i class="large material-icons">insert_chart</i>Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a n:href="Home:">Strona Główna</a></li>
                <li><a n:href="Plot:">Działki</a></li>
                <li><a n:href="Sign:out">Wyloguj</a></li>
            </ul>
        </div>
    </nav>

    <main>
{*        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>*}
        {include content}
    </main>

{*    <footer class="page-footer">*}
{*        <div class="footer-copyright">*}
{*            <div class="container">*}
{*                © 2020 mrcnpdlk*}
{*                <a class="grey-text text-lighten-4 right" target="_blank" href="https://rodkopanka.pl">ROD Kopanka</a>*}
{*            </div>*}
{*        </div>*}
{*    </footer>*}

    {block scripts}
        <script type="text/javascript" src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
        <script type="text/javascript" src="{$basePath}/main.js"></script>
    {/block}
</body>
</html>
