<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{ifset title}{include title|stripHtml} | {/ifset}Rod Panel</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<nav role="navigation">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo"><i class="large material-icons">insert_chart</i>Logo</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

		<ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a n:href="Homepage:">Homepage</a></li>
            {if $user->loggedIn}
                <li><a n:href="Sign:out">Sign out</a></li>
            {else}
                <li><a n:href="Sign:in">Sign in</a></li>
            {/if}
        </ul>
    </div>
</nav>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{include content}

{block scripts}
    <script type="text/javascript" src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
    <script type="text/javascript" src="{$basePath}/main.js"></script>
{/block}
</body>
</html>
