parameters:
	level: 6
	paths:
		- app
		- www
	fileExtensions:
		- php
	bootstrapFiles:
	    - ./vendor/autoload.php
	parallel:
		processTimeout: 300.0
		jobSize: 20
		maximumNumberOfProcesses: 32
		minimumNumberOfJobsPerProcess: 4
	checkMissingIterableValueType: false
includes:
	- vendor/phpstan/phpstan-nette/extension.neon
