parameters:

application:
	errorPresenter: Error
	mapping:
		*: Mrcnpdlk\ROD\App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

database:
    local:
        dsn: 'sqlite:./../db/demo.sqlite3'
        options:
            lazy: yes

security:
	users:
		admin: admin

services:
    router: Mrcnpdlk\ROD\App\Router\RouterFactory::createRouter
    - Mrcnpdlk\ROD\App\Services\MapperService()
    - Mrcnpdlk\ROD\App\Model\PlotManager(@database.local.context)

