parameters:

application:
	errorPresenter: Error
	mapping:
		*: Mrcnpdlk\ROD\App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

services:
    router: Mrcnpdlk\ROD\App\Router\RouterFactory::createRouter
    dbMain: Nette\Database\Connection(%sqlite.dsn%)
    - Mrcnpdlk\ROD\App\Services\MapperService()
    - Mrcnpdlk\ROD\App\Model\PlotManager()

